@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
button {
display:inline-block;
text-decoration:none;
background-color:#FF2B13;
color:white;
cursor:pointer;
font-family: "Josefin Sans", sans-serif;
font-size:22px;
line-height:55px;
text-align:center;
margin: auto;
height:55px;
padding:0px 36px;
border-radius:27px;
max-width:100%;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
font-weight:bold;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}
