.footer {
    margin-top: 3rem;
}
ul {
    list-style-type: none;
    margin: 0;
}
.li-name {
    display: inline;
    text-align: center;
    a {
        border: 0;
        color: #000;
        display: inline-block;
        padding: .5em;
        }
    a:hover{
        background-color: rgb(226, 226, 226);
        }
    svg {
        display: inline-block;
        width: 1em;
        height: 1em;
       }
}
div {
    display: block;
}
